@import "tailwindcss";

@theme {
  --color-primary: #0e8fa3;
  --color-bg-light: #eef4f4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Expo Arabic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}